<html>
<head>
<meta charset="utf-8">
<title>Challenge_1_W1S2</title>



<style> 

header {
    width: 100%;
    height: 100px;
        color:cyan;
}

#header-background{
    size:backdrop;
    background:url("kynance.jpg")
}




h1 {
    font-family: Arial ;
    font-size: 32px;
    color: #ffd700;
    text-transform: uppercase;
    justify-self: center;
    text-align: center;
   background-color:rgb(0, 51, 128);
    text-align: center;
    
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('C:\Users\PipSimpson\Documents\GitHub\Step8up_Week1_Website_Assignment\kynance.jpg')
}



h2 {
    color: red;
    text-transform: uppercase;
    justify-self: center;
    text-align: center;
    background-origin: padding-box;
}





/*This code is adapted from https://www.w3schools.com/howto/howto_js_topnav.asp initially --/>
/* Add a black background color to the top navigation */

 
.nav a {
    background-color: #333333;
    overflow: hidden;
    width: 35px;
    height: 5px;
    margin-top: 6px;
    margin-bottom: 12px;
  }
  
  /* Style the links inside the navigation bar */
  .nav a {
    float:right;
    color: navy;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    background-color: aquamarine;
    justify-self: center;
    
  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: cyan;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a. active {
    background-color: #044caa;
    color: rgb(255, 255, 255);
  }

  </style>
  </head>


  <style>
  body {
    /*background-image: url('C:\Users\PipSimpson\Documents\GitHub\Step8up_Week1_Website_Assignment\kynance.jpg') */
       
  }
/* Note that the styling for this is basically taken from: https://www.w3schools.com/howto/howto_css_contact_form.asp and isn't Pip's work

  form {/* Style inputs with type="text", select elements and textareas */
    input[type=text], select, textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */ 
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
        }
    
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
      background-color: #aa0428;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
      background-color: #79e459;
    }
    
    /* Add a background color and some padding around the form */
    .container {
      border-radius: 10px;
      background-color: #98c4f7;
      padding: 20px;
    }}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
    p {
      color: rgb(231, 243, 57);
      font-size: 17px;
    background-color: teal;
   
  }
  em {
      font-size: 20px;
      color:rgb(231, 243, 57);
  }
  strong {
      font-size: 24px;
      color:rgb(0,0,0);
  }

  footer {
    font-size: 12px;
    text-align: center;
    justify-self: center;


  }
  </style>
